lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.md.html
*.iml
*.swp
*~

#Sublime
Flo.sublime-workspace
Flo.sublime-project

pids
logs
results

node_modules
npm-debug.log
package-lock.json
build

#azure
bin
iisnode
local_package.csx
*.cspkg
.idea

.project
.classpath
.settings

src/web/bower_components
src/web/node_modules
src/web/build/src
src/web/build/_index.html
config.json

Session.vim
