<!DOCTYPE html>
<html>

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Order bread in Nizhny Novgorod.">
<meta name="keywords" content="N.Novgorod, order, bread">

<title><%=blocks.title%></title>

<!-- Bootstrap core CSS -->
<link href="/bower_components/bootstrap/dist/css/bootstrap.min.css"
	rel="stylesheet">


<!-- Optional Bootstrap Theme 
<link href="data:text/css;charset=utf-8,"
	data-href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css"
	rel="stylesheet" id="bs-theme-stylesheet">

<link href="/assets/css/docs.css" rel="stylesheet">
-->
<script src="/bower_components/jquery/dist/jquery.min.js"></script>


<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- Favicons -->
<!-- link rel="icon" href="/favicon.ico" -->

</head>

<body>
	<header id="navbar-top" class="banner navbar navbar-default"
		role="banner">
		<div class="container">
				<div class="navbar-inner">

					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target=".navbar-collapse">
						<span class="sr-only">Toggle Navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>



					
					<nav class="collapse navbar-collapse" role="navigation">
						<ul class="nav navbar-nav navbar-right">
							<li class=""><a
								href="http://riotdesign.eu/en/">Home</a></li>
							<li class=""><a
								href="http://riotdesign.eu/en/about/">About</a></li>
							<li class=""><a href="/en/portfolio/">Portfolio</a></li>
							<li class=""><a
								href="http://riotdesign.eu/en/contacts/">Contacts</a></li>
						</ul>
					</nav>

				</div>
			</div>
	</header>

	<a id="skippy" class="sr-only sr-only-focusable" href="#content"><div
			class="container">
			<span class="skiplink-text">Skip to main content</span>
		</div></a>

	<!-- Docs master nav -->
	<header class="navbar navbar-static-top bs-docs-nav" id="top"
		role="banner">
		<div class="container">
			<div class="navbar-header">
				<button class="navbar-toggle collapsed" type="button"
					data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a href="../" class="navbar-brand">Главная</a>
			</div>
			<nav class="collapse navbar-collapse" role="navigation">
				<ul class="nav navbar-nav">
					<% if (user) { %>
					<li><a href="/chat">Чат</a></li> <% } %>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<% if (user) { %>
					<li>

						<form method="POST" action="/logout">
							<a onclick="$(this).closest('form').submit(); return false;">Выйти</a>
						</form>

					</li> <% } else { %>
					<li><a href="/login">Войти</a></li> <% } %>
				</ul>
			</nav>


		</div>
	</header>

	<h1><%=blocks.title%></h1>


	<%-body -%>


	<div><%-blocks.footer%></div>

	<!-- Bootstrap core JavaScript
================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->



	<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>