<h4 ng-if="isCreate">Создание заказа</h4>
<h4 ng-if="!isCreate">Редактирование заказа</h4>
<form class="form-horizontal" ng-submit="save(changeForm.$invalid)" name="changeForm" novalidate>

    <div class="form-group required" ng-class="{'has-error': changeForm.$submitted && changeForm.number.$error.required}">
        <label class="col-sm-2 control-label">Номер</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="number" placeholder="Номер заказа"
                   data-ng-model="order.number" required>
        </div>
        <label class="col-sm-2 control-label">Автор</label>
        <div class="col-sm-2">
            <p class="form-control-static">{{author.username}}</p>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': changeForm.$submitted && changeForm.title.$error.required}">
        <label class="col-sm-2 control-label">Наименование</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="title" placeholder="Наименование заказа"
                   data-ng-model="order.title">
        </div>
        <label class="col-sm-2 control-label">Статус</label>
        <div class="col-sm-2">
            <p class="form-control-static">{{order.status.title}}</p>
        </div>
    </div>

    <!-- Author delivery point -->
    <div class="form-group required" ng-class="{'has-error': changeForm.$submitted && changeForm.authorDeliveryPoint.$error.required}">
        <label class="col-sm-2 control-label">Точка доставки</label>
        <div class="col-sm-10">
            <ui-select ng-model="order.authorDeliveryPoint" theme="bootstrap" name="authorDeliveryPoint" required>
                <ui-select-match placeholder="Точка доставки" allow-clear="true">{{$select.selected.title}}</ui-select-match>
                <ui-select-choices repeat="item in author.deliveryPoints | filter: $select.search">
                    <div ng-bind-html="item.title | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>

    <div class="form-group" ng-if="!isCreate">
        <label class="col-sm-2 control-label">Продукты</label>
        <div class="col-sm-10">

            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Наименование продукта</th>

                            <th>Количество заказаное</th>
                            <th>Количество отгруженое</th>

                            <th>Цена за единицу с НДС</th>
                            <th>НДС за единицу</th>

                            <th>Стоимость</th>
                            <th>Сумма НДС</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="ap in order.authorProducts">
                            <td><a ui-sref="edit-order-product({orderId: order._id, orderProductId: ap._id})">{{ap.product.title}}</a></td>

                            <td>{{ap.quantity}}</td>
                            <td>{{ap.deliveryQuantity}}</td>

                            <td>{{ap.price}}</td>
                            <td>{{ap.vat}}</td>

                            <td>{{ap.sum}}</td>
                            <td>{{ap.sumVat}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <a data-ui-sref="add-order-product({orderId: order._id})">Добавить продукт к заказу</a>
                </div>
                <div class="col-sm-6 text-right">
                    <button type='button' data-ng-click="removeAllOrderProducts()" class="btn btn-danger">Удалить все продукты у заказа</button>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group" ng-if="!isCreate">
        <label class="col-sm-2 control-label">Комментарии</label>
        <div class="col-sm-10">
            <div data-ng-repeat="cm in order.comments track by $index" class="alert alert-info">
                <span style="color: black; font-size: 13px;"><span style="font-weight: bold;">{{cm.author.username}}</span> добавил комментарий {{cm.createdDate | date:'dd.MM.yyyy HH:mm:ss'}}</span>
                <br/>
                <span>{{cm.text}}</span>
                <button type="button" class="close" ng-click="removeComment(cm)">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Удалить</span>
                </button>
            </div>
            
            <textarea class="form-control" data-ng-model="newComment" rows="6"></textarea>
            <button type='button' data-ng-click="addComment(newComment)" class="btn btn-success">Добавить комментарий</button>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-2">
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </div>
        <div class="col-sm-10 text-right" ng-if="!isCreate">
            <button type='button' data-ng-click="deleteOrder()" class="btn btn-danger">Удалить</button>
        </div>
    </div>

    <!--Создан, Активен, Подтвержден, Отгружен, Закрыт.-->
    <div class="form-group" ng-if="!isCreate">
        <div class="col-sm-12">
            <button type='button' data-ng-click="activate()" class="btn btn-info" ng-disabled="order.status.code!=='CREATED'">Активировать</button>
            <button type='button' data-ng-click="approve()" class="btn btn-success" ng-disabled="!(order.status.code==='ACTIVE' && AuthService.hasAccessByCodes('MANAGE_ORDERS'))">Подтвердить</button>
            <button type='button' data-ng-click="ship()" class="btn btn-warning" ng-disabled="!(order.status.code==='APPROVED' && AuthService.hasAccessByCodes('MANAGE_ORDERS'))">Перевести в отгружен</button>
            <button type='button' data-ng-click="close()" class="btn btn-danger" ng-disabled="order.status.code==='CLOSED' || !AuthService.hasAccessByCodes('MANAGE_ORDERS')">Закрыть</button>
        </div>
    </div>

</form>