<div class="app-multiselect">
    <div class="app-multiselect__input"
         ng-click="toggleSelect()"
         ng-disabled="disabled"
         ng-class="{'error': showErrorOnEvent && !valid()}"
         popover="{{popOver}}"
         popover-trigger="{{popOverTrigger}}" title="{{header}}">

        <span class="app-multiselect__text">
            {{header}}
        </span>
        <div class="app-multiselect__trigger">
        </div>
    </div>
    <span class="error-base"
          ng-if="showErrorOnEvent && !valid()">Поле обязательно для заполнения</span>

    <div class="app-multiselect__container">
        <div class="app-multiselect__search">
            <input class="input-block-level form-control"
                   type="text"
                   ng-model="searchText.label"
                   autofocus="autofocus"
                   placeholder="Поиск"/>
        </div>
        <ul class="app-multiselect__list">
            <li ng-repeat="i in items | filter:searchText"
                ng-click="select(i);">
                <input type="checkbox"
                       ng-checked="i.checked"/>
                {{i.label}}
            </li>
        </ul>
        <div class="app-multiselect__buttons"  ng-show="multiple">
            <a
                    class="btn btn-cancel btn-small"
                    ng-click="uncheckAll()">
                <i class="icon-remove"></i>
                Очистить
            </a>
            <a  ng-if="!allSelectAbility"
                class="btn btn-prime btn-small"
                ng-click="toggleSelect()">
                <i class="icon-ok"></i>
                Выбрать
            </a>
            <a class="btn btn-prime btn-small" ng-if="allSelectAbility"
               ng-click="checkAll(); toggleSelect();">
                <i class="icon-ok"></i>
                Выбрать все
            </a>
        </div>
    </div>
</div>