
<% layout('layout/page') -%>
<% block('title', 'Hello'); -%>

<%-partial('./partials/modals/changePageModal')%>

<script type="text/javascript" src="/js/PageTreeControl.js"></script>
<script type="text/javascript" src="/js/PageTreetableControl.js"></script>
<script type="text/javascript" src="/js/pagesTree.js"></script>
<script type="text/javascript" src="/js/testDeferred.js"></script>
<link rel='stylesheet' href='/css/twoSidesLayout.css' />

<div class="menuPanel">
</div>

<!-- tree -->

<div class="main-column">
    <div class="center-column">
        <div class="treeBox-container">
            <div class="treeBox">
                <div class="leftTree">
                    <ul id="treePages" class="filetree treeview" style="padding: 20px 0 0 10px;"></ul>
                </div>    
                <div class="rightTree">
                    <ul id="treePages2" class="filetree treeview" style="padding: 20px 0 0 10px;"></ul>
                    
                    <table id="treePages3" class="filetree treeview" style="padding: 20px 0 0 10px; width: 100%">
                        <thead>
                            <tr>
                                <th style="width: 50%">Title</th>
                                <th style="width: 50%">Name</th> 
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
	var treeObj =<%-JSON.stringify(treeJson)%>;
	var treeObj2 =<%-JSON.stringify(treeJson)%>;
	var treeObj3 =<%-JSON.stringify(treeJson)%>;
	
	var config = {
		TreeControlConstructor: PageTreeControl
	};
	
	var treetableConfig = {
		TreetableControlConstructor: PageTreetableControl
	};
	
	jQuery("#treePages").createTreeControl("1", config, treeObj);
	var tree2 = jQuery("#treePages2").createTreeControl("2", config, treeObj2);
	jQuery("#treePages3").createTreetableControl("3", treetableConfig, treeObj3);
	//tabaga.enableHistoryControl(tree2, false);
	
</script>
