html {
    overflow-y: scroll;
}

body {
	font-family: Cantarell, 'Droid Sans', Ubuntu, 'DejaVu Sans', Arial,
		sans-serif;
	font-size: 0.8em;
	padding: 0 0 40px;
	margin: 0;
	padding: 0;
}

a {
	color: #00B7FF;
	cursor: pointer;
	text-decoration: underline;
}

.loadingStatusLabel {
	background-color: #ffffc8;
	border-color: #d6d6d6;
	border-radius: 0 0 4px 4px;
	border-style: none solid solid solid;
	border-width: 0 2px 2px 2px;
	color: #000000;
	font-family: arial, sans-serif;
	font-weight: bold;
	left: 50%;
	margin-left: -38px;
	top: 0;
	padding: 3px;
	position: fixed;
	z-index: 1100;
}

.btn {
	width: 28px;
	border: 1px solid #808080;
	border-radius: 4px;
	cursor: pointer;
	display: inline-block;
	font-size: 12px;
	line-height: 18px;
	margin-bottom: 0;
	padding: 3px;
	text-align: center;
	vertical-align: middle;
}

.btn:hover, .btn:focus {
	background-position: 0 -15px;
	color: #333;
	text-decoration: none;
	transition: background-position 0.1s linear 0s;
}

.btn:focus {
	outline: thin dotted #333;
	outline-offset: -2px;
}

.btn.active, .btn:active {
	background-image: none;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px
		rgba(0, 0, 0, 0.05);
	outline: 0 none;
}

.btn.disabled, .btn[disabled] {
	background-image: none;
	box-shadow: none;
	cursor: default;
	opacity: 0.65;
}

.icon-move:before {
	content: "⬍";
	font-size: 21px;
	font-style: normal;
	margin-left: -2px;
}

.icon-copy:before {
	content: "⎘";
	font-size: 21px;
	font-style: normal;
	margin-left: -2px;
}

.icon-delete:before {
	content: "✘";
	font-size: 21px;
	font-style: normal;
	margin-left: -2px;
}

[class^="icon-"], [class*=" icon-"] {
	display: inline-block;
	height: 14px;
	line-height: 14px;
	vertical-align: text-top;
	width: 14px;
}

.menuPanel {
	border-top: 1px solid #e5e5e5;
	border-bottom: 3px solid green;
	margin: 2px 0 0px 0;
	padding: 6px 10px;
}

.contextMenuContainer {
	z-index: 100;
	position: absolute;
}

ul.simpleContextMenu {
	list-style: none outside none;
	background-color: #ffffff;
	border: 1px solid #969696;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
	margin: -2px 0 0 -2px;
	padding: 0;
	min-width: 160px;
	float: left;
}

ul.simpleContextMenu>li {
	margin: 0;
}

ul.simpleContextMenu>li>a {
	clear: both;
	color: #000;
	display: block;
	font-weight: normal;
	line-height: 22px;
	padding: 5px 16px;
	text-decoration: none;
	white-space: nowrap;
}

ul.simpleContextMenu>li>a:hover, ul.simpleContextMenu>li>a:focus {
	background: none repeat scroll 0 0 rgba(255, 193, 0, 0.37);
}

/* stretch height */
body.stretchHeight {
	height: 99%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    min-width: 748px;
    margin: 0;
	padding: 0;
}

.stretchHeight .mainCenter {
	height: 60%;
    position: relative;
    top: 0;
}

.cm-opened {
	background: none repeat scroll 0 0 rgba(255, 193, 0, 0.37);
}

.cm-tree-opened {
	background: none repeat scroll 0 0 rgba(255, 193, 0, 0.37);
}

.error-message {
	color: red;
}

.dragObjectClone {
	
}
