.footer {
    margin-top: 20px;
    text-align: center;
    background-color: #3c763d;
}
.footer .copyright {
    color: white;
    padding: 12px;
}
.form-group.required .control-label:after {
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 8px;
    top:7px;
}

.restrictAccess {
    display: none;
}