<h4>Demo</h4>

<style>
</style>

<form class="form-horizontal" name="demoForm" novalidate>

    <div class="form-group">
        <label class="col-sm-2 control-label">lowercase</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" data-ng-model="models.lowercase" lowercase>
            {{models.lowercase}}
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">BanEnterZero</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" data-ng-model="models.banEnterZeroVal" ban-enter-zero>
            {{models.banEnterZeroVal}}
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">date</label>
        <div class="col-sm-10">
            <input type="text" data-ng-model="models.lowercase1"
                   my-ui-mask="{{mask}}" placeholder="{{placeholder}}">
            -
            <input type="text" data-ng-model="models.lowercase2"
                   my-ui-mask="{{mask}}" placeholder="{{placeholder}}">
            {{models.lowercase1}} -
            {{models.lowercase2}}
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-2">
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-2">
            <my-dropdown>Сохранить</my-dropdown>
        </div>
        <div class="col-sm-2">
            <button ng-click="openModal()" class="btn btn-primary">Открыть окно</button>
        </div>
    </div>


</form>