<h4 ng-if="isCreate">Создание товара</h4>
<h4 ng-if="!isCreate">Редактирование товара</h4>
<form class="form-horizontal" ng-submit="save(changeProductForm.$invalid)" name="changeProductForm" novalidate>

    <div class="form-group required" ng-class="{'has-error': changeProductForm.$submitted && changeProductForm.title.$error.required}">
        <label class="col-sm-2 control-label">Наименование</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="title" placeholder="Наименование"
                   data-ng-model="product.title" required>
        </div>
    </div>

    <div class="form-group required" ng-class="{'has-error': changeProductForm.$submitted && changeProductForm.measureUnit.$error.required}">
        <label class="col-sm-2 control-label">Единица измерения</label>
        <div class="col-sm-10">
            <ui-select ng-model="product.measureUnit" theme="bootstrap" name="measureUnit">
                <ui-select-match placeholder="Единица измерения">{{$select.selected.title}}</ui-select-match>
                <ui-select-choices repeat="item in allMeasureUnits | filter: $select.search">
                    <div ng-bind-html="item.title | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Кратность в упаковке</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="packageMultiplicity" placeholder="Кратность в упаковке"
                   data-ng-model="product.packageMultiplicity">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-2">
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </div>
        <div class="col-sm-10 text-right" ng-if="!isCreate">
            <button type='button' data-ng-click="deleteProduct()" class="btn btn-danger">Удалить</button>
        </div>
    </div>

</form>