<h4 ng-if="isCreate">Добавление товара-заказ</h4>
<h4 ng-if="!isCreate">Редактирование товара-заказ </h4>
<form class="form-horizontal" ng-submit="save(changeForm.$invalid)" name="changeForm" novalidate>

    <div class="form-group">
        <label class="col-sm-2 control-label">Заказ номер</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{order.number}}</p>
        </div>
    </div>

    <!-- Пользовательский продукт -->
    <div class="form-group required" ng-class="{'has-error': changeForm.$submitted && changeForm.product.$error.required}">
        <label class="col-sm-2 control-label">Продукт</label>
        <div class="col-sm-10">
            <ui-select ng-model="orderProduct.product" theme="bootstrap" name="product" required>
                <ui-select-match placeholder="Продукт" allow-clear="true">{{$select.selected.title}}</ui-select-match>
                <ui-select-choices repeat="item in products | filter: $select.search">
                    <div ng-bind-html="item.title | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>

    <div class="form-group">
        <!--quantity	количество заказаное-->
        <label class="col-sm-3 control-label">Количество заказаное</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="quantity" data-ng-model="orderProduct.quantity">
        </div>
        <!--deliveryQuantity	количество отгруженое-->
        <label class="col-sm-3 control-label">Количество отгруженое</label>
        <div class="col-sm-3">
            <input ng-disabled="!AuthService.hasAccessByCodes('MANAGE_ORDERS')" type="text" class="form-control" name="deliveryQuantity" data-ng-model="orderProduct.deliveryQuantity">
        </div>
    </div>

    <div class="form-group">
        <!--price	цена за единицу с НДС-->
        <label class="col-sm-3 control-label">Цена за единицу с НДС</label>
        <div class="col-sm-3">
            <input ng-disabled="!AuthService.hasAccessByCodes('MANAGE_ORDERS')" type="text" class="form-control" name="price" data-ng-model="orderProduct.price">
        </div>

        <!--vat	НДС за единицу-->
        <label class="col-sm-3 control-label">НДС за единицу</label>
        <div class="col-sm-3">
            <input ng-disabled="!AuthService.hasAccessByCodes('MANAGE_ORDERS')" type="text" class="form-control" name="vat" data-ng-model="orderProduct.vat">
        </div>
    </div>

    <div class="form-group">
        <!--sum	стоимость-->
        <label class="col-sm-3 control-label">Стоимость</label>
        <div class="col-sm-3">
            <input ng-disabled="!AuthService.hasAccessByCodes('MANAGE_ORDERS')" type="text" class="form-control" name="sum" data-ng-model="orderProduct.sum">
        </div>

        <!--sumVat	сумма НДС-->
        <label class="col-sm-3 control-label">Сумма НДС</label>
        <div class="col-sm-3">
            <input ng-disabled="!AuthService.hasAccessByCodes('MANAGE_ORDERS')" type="text" class="form-control" name="sumVat" data-ng-model="orderProduct.sumVat">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-2">
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </div>
        <div class="col-sm-10 text-right" ng-if="!isCreate">
            <button type='button' data-ng-click="delete()" class="btn btn-danger">Удалить</button>
        </div>
    </div>

</form>