<h4 ng-if="isCreate">Создание нового пользователя</h4>
<h4 ng-if="!isCreate">Редактирование пользователя</h4>
<form class="form-horizontal" ng-submit="save(changeUserForm.$invalid)" name="changeUserForm" novalidate>
    <div class="form-group">
        <label class="col-sm-2 control-label">Имя</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="username" placeholder="Имя пользователя"
                   data-ng-model="user.username">
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': changeUserForm.$submitted && changeUserForm.email.$error.pattern}">
        <label for="email" class="col-sm-2 control-label">E-mail</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="email" name="email" placeholder="E-mail"
                   data-ng-model="user.email" data-ng-pattern="/^[a-z0-9!#$%&'*+/=?^_`{|}~.-]+@[a-z0-9-]+(\.[a-z0-9-]+)*$/i">
        </div>
    </div>
    <div class="form-group required" ng-if="isCreate" ng-class="{'has-error': changeUserForm.$submitted && changeUserForm.newPassword.$error.required}">
        <label for="inputPassword" class="col-sm-2 control-label">Пароль</label>
        <div class="col-sm-10">
            <input type="password" name="newPassword" class="form-control" id="inputPassword"
                   placeholder="Пароль" data-ng-model="user.newPassword" required>
        </div>
    </div>
    <div class="form-group required" ng-if="isCreate" ng-class="{'has-error': changeUserForm.$submitted && changeUserForm.repeatNewPassword.$error.required}">
        <label for="inputPassword2" class="col-sm-2 control-label">Повторить пароль</label>
        <div class="col-sm-10">
            <input type="password" name="repeatNewPassword" class="form-control" id="inputPassword2"
                   placeholder="Повторить пароль" data-ng-model="user.repeatNewPassword" required>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Роли</label>
        <div class="col-sm-10">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Роль</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="role in allRoles">
                    <td><input type="checkbox" ng-model="role.checked"></td>
                    <td>{{role.title}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </div>
    </div>
</form>