<h4 ng-if="isCreate">Создание нового пользователя</h4>
<h4 ng-if="!isCreate">Редактирование пользователя</h4>
<form class="form-horizontal" ng-submit="save(changeUserForm.$invalid)" name="changeUserForm" novalidate>
    <div class="form-group required" ng-class="{'has-error': changeUserForm.$submitted && changeUserForm.username.$error.required}">
        <label class="col-sm-2 control-label">Имя</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="username" placeholder="Имя пользователя"
                   data-ng-model="user.username" required>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': changeUserForm.$submitted && changeUserForm.email.$error.pattern}">
        <label for="email" class="col-sm-2 control-label">E-mail</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="email" name="email" placeholder="E-mail"
                   data-ng-model="user.email" data-ng-pattern="/^[a-z0-9!#$%&'*+/=?^_`{|}~.-]+@[a-z0-9-]+(\.[a-z0-9-]+)*$/i">
        </div>
    </div>
    <div class="form-group required" ng-if="isCreate" ng-class="{'has-error': changeUserForm.$submitted && changeUserForm.newPassword.$error.required}">
        <label for="inputPassword" class="col-sm-2 control-label">Пароль</label>
        <div class="col-sm-10">
            <input type="password" name="newPassword" class="form-control" id="inputPassword"
                   placeholder="Пароль" data-ng-model="user.password" required>
        </div>
    </div>
    <div class="form-group required" ng-if="isCreate" ng-class="{'has-error': changeUserForm.$submitted && changeUserForm.repeatNewPassword.$error.required}">
        <label for="inputPassword2" class="col-sm-2 control-label">Повторить пароль</label>
        <div class="col-sm-10">
            <input type="password" name="repeatNewPassword" class="form-control" id="inputPassword2"
                   placeholder="Повторить пароль" data-ng-model="user.repeatPassword" required>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Роли</label>
        <div class="col-sm-10">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Роль</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="role in allRoles">
                    <td><input type="checkbox" ng-model="role.checked"></td>
                    <td>{{role.title}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Точки доставки</label>
        <div class="col-sm-10">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Наименование</th>
                    <th>Адрес</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="deliveryPoint in user.deliveryPoints">
                    <td><a data-ui-sref="edit-user-delivery-point({userId: user._id, deliveryPointId: deliveryPoint._id})">{{deliveryPoint.title}}</a></td>
                    <td>{{deliveryPoint.address}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-2">
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </div>
        <div class="col-sm-10 text-right" ng-if="!isCreate">
            <button ng-if="!user.locked" type='button' data-ng-click="lockUser()" class="btn btn-warning">Заблокировать</button>
            <button ng-if="user.locked" type='button' data-ng-click="unlockUser()" class="btn btn-warning">Разблокировать</button>
            <button type='button' data-ng-click="deleteUser()" class="btn btn-danger">Удалить</button>
        </div>
    </div>

    <ul class="nav nav-pills" ng-if="!isCreate">
        <li role="presentation"><a data-ui-sref="change-user-password({id: user._id})">Сменить пароль</a></li>
        <li role="presentation"><a data-ui-sref="add-user-delivery-point({id: user._id})">Добавить точку доставки</a></li>
        <button type='button' data-ng-click="removeAllUserDeliveryPoints()" class="btn btn-danger">Удалить все точки доставки</button>
    </ul>

</form>