
<% layout('../layout/ngLayout1') -%>
<% block('title', 'test2'); -%>

<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-resource.min.js">
	
</script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js">
	
</script>
<script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
<script
	src="https://cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js"></script>
<link rel="stylesheet" href="/css/bootstrap.css">
<script src="/js/ang/test3/projects.js"></script>

<div data-ng-app="project">
	<div data-ng-view></div>
</div>
