
<% layout('../layout/ngLayout1') -%>
<% block('title', 'test1'); -%>

<script src="/vendor/angular/angular.js" type="text/javascript"></script>

<div data-ng-app>
	<label>Name:</label> <input type="text" data-ng-model="yourName"
		placeholder="Enter a name here">
	<hr>
	<h1>Hello {{yourName}}!</h1>
</div>
